# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore log files
logs/
*.log

# Ignore build files
dist/
build/

# Ignore OS/Editor specific files
.DS_Store
.idea/
.vscode/
